.x-avatar {
  display: 'inline-flex';
  align-items: 'center';
  justify-content: 'center';
  text-align: 'center';
  text-transform: 'uppercase';
  font-weight: 'medium';
  position: 'relative';
  flex-shrink: 0;
}
