.x-btn {
  display: 'inline-flex';
  appearance: 'none';
  align-items: 'center';
  justify-content: 'center';
  user-select: 'none';
  position: 'relative';
  white-space: 'nowrap';
  vertical-align: 'middle';
  outline: 'none';
}
