.x-skeleton {
  box-shadow: none;
  background-clip: padding-box;
  cursor: default;
  color: transparent;
  pointer-events: none;
  user-select: none;
  opacity: 0.7;
  background: rgb(160, 174, 192);

  &::after,
  &::before,
  * {
    visibility: hidden;
  }

  &--animate {
    animation: 0.8s linear 0s infinite alternate none running FadeInFadeOut;
  }
}

@keyframes FadeInFadeOut {
  0% {
    position: relative;
    opacity: 1;
    transform: translateX(0);
  }

  90% {
    position: relative;
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    position: absolute;
    opacity: 0;
    transform: translateX(-999px);
  }
}
