.x-autocomplete {
  position: relative;
  line-height: 1.5em;
  user-select: none;
  cursor: pointer;
  display: flex;
  width: 100%;
  border: 0;

  &__option {
    padding: 5px 20px;
    cursor: pointer;

    &--selected {
      background-color: #eee;
    }

    &--selected:hover,
    &--focus {
      background: #eee;
    }
  }

  &__menu {
    background-color: white;
    position: fixed;
    max-height: 200px;
    overflow: auto;
    height: auto;
    width: 100%;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    padding: 2px 0;
    max-height: 50%;
  }

  &__clear {
    height: 2.2em !important;
    i {
      font-size: 20px;
      font-style: normal;
      margin-top: 5px;
      font-weight: bold;
    }
  }

  &__arrow {
    height: 2.2em !important;
    $a: &;
    i {
      width: 10px;
      height: 10px;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
    }
    &--up {
      margin-top: -5px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    &--down {
      margin-top: 5px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
