.x-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  &__wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    will-change: transform;
    overflow-y: auto;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 0;
    overflow: scroll;
    transition: left 0.3s ease-out, right 0.3s ease-out;
  }
}
