.x-wizard{
    height: 100%;
    display: flex;
    flex-direction: column;
    
    &__line{
      display: flex;
      flex-direction: column;
      
      &-title{
          font-size: 14px;
          text-align: center;
      }

      &-step{
          margin-right: 10px;
          display: inline-block;
          width: 15%;
          height: 7px;
          background: #eee;
          border-radius: 3.5px;
          &--active{
              background: #bebebe;
          }
      }

      &-steps{
          display: flex;   
          flex-direction: row-reverse;
          justify-content: center;
          padding: 0px 1rem;         
      }
    }
    &__step{
      flex: 1;
      height: 100%;
      padding: 10px;
    }
}