.x-wizard{
  &__line{
      display: flex;
      flex-direction: column;
      &-title{
          font-size: $font-size-lg;
          text-align: center;
      }

      &-step{
          margin-right: $standard-margin;
          display: inline-block;
          width: 15%;
          height: 7px;
          background: var(--x-black-backdrop-1);
          border-radius: 3.5px;
          &--active{
              background: $blue;
          }
      }

      &-steps{
          display: flex;   
          flex-direction: row-reverse;
          justify-content: center;
          padding: 0px $double-size-padding;         
      }
  }
}